/* Estilos generales para el body y la container */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el logo */
.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 150px; /* Ajusta el tamaño según sea necesario */
}

/* Estilos para el formulario de login */
.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 8px;
    color: #666;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.login-form button {
    background-color: #007bff; /* Color de fondo azul */
    color: #fff;
    border: none;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.login-form button:hover {
    background-color: #0056b3; /* Color de fondo azul más oscuro al pasar el ratón */
}

.login-form p {
    text-align: center;
    margin-top: 10px;
}

.login-form a {
    color: #007bff; /* Color azul para el enlace */
    text-decoration: none;
}

.login-form a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}
