.clientes {
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            150px,
             1fr
             )
    )
    gap 20px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.left-panel {
    width: 30%;
    background-color: #008F8C;
    padding: 20px;
}

.right-panel {
    width: 70%;
    background-color: #0FC2C0;
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input, select {
    margin-top: 5px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
/* Estilos para el botón de cerrar sesión */
.logout-button-container {
    position: absolute;
    left: 20px; /* Ajustar según sea necesario */
    text-align: center;
}

.logout-button-container button {
    padding: 12px 24px; /* Ajustar el tamaño del botón */
    font-size: 18px; /* Tamaño de fuente del botón */
    background-color: #f44336; /* Color de fondo rojo */
    color: white;
    border: none;
    border-radius: 8px; /* Bordes redondeados */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para efecto de profundidad */
}

.logout-button-container button:hover {
    background-color: #d32f2f; /* Color más oscuro al pasar el ratón */
}

.logout-button-container button:focus {
    outline: none; /* Eliminar el borde de enfoque por defecto */
    box-shadow: 0 0 0 3px rgba(244, 67, 54, 0.3); /* Sombra alrededor del botón al tener foco */
}
