body {
    font-family: sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo img {
    width: 200px;
    height: auto;
}

.login-form, .register-form {
    padding: 20px;
    display: none; /* Ocultar el formulario de registro por defecto */
}

.login-form h2, .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-form label, .register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-form input, .register-form input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.login-form button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.register-form button {
    background-color: #28a745; /* Bot�n verde para registrarse */
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.login-form a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #007bff;
}

.login-form .message, .register-form .message {
    text-align: center;
    margin-top: 10px;
}

.login-form .message.success, .register-form .message.success {
    color: green;
}

.login-form .message.error, .register-form .message.error {
    color: red;
}

.main-content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    margin-top: auto;
    text-align: center;
}